@use "variables";
@use "anidacion";
body {
  background: variables.$color-principal;
}

@mixin caja_personalizada($fondo: white, $color: variables.$color-letra) {
  background-color: $fondo;
  border: 4px solid variables.$black;
  box-shadow: 0 0 2px variables.$black;
  margin: 20px;
}

.caja {
  @include caja_personalizada();
}

.caja-secundaria {
  @include caja_personalizada($fondo: orange, $color: red);
}
