.caja h2 {
  color: #004e9c;
  font-family: Arial, Helvetica, sans-serif;
}
.caja p {
  color: #004e9c;
}

body {
  background: #eeeeee;
}

.caja {
  background-color: white;
  border: 4px solid #000;
  box-shadow: 0 0 2px #000;
  margin: 20px;
}

.caja-secundaria {
  background-color: orange;
  border: 4px solid #000;
  box-shadow: 0 0 2px #000;
  margin: 20px;
}
